*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-red: #f94f4f;
	--bg-black: #191921;
	--hover-red: #ff9393;
}

html,
body {
	font-family: 'Commissioner', sans-serif;
	text-decoration: none;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

h1,
h2,
h3 {
	font-weight: 800;
}

h1 {
	line-height: 88px;
	font-size: 80px;
}

h2 {
	line-height: 64px;
	font-size: 56px;
}

h3 {
	line-height: 32px;
	font-size: 20px;
}

p {
	font-size: 18px;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: 0.025em;
}

/* utility classes */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

.container-lg {
	max-width: 1400px;
	margin: 0 auto;
}

.btn {
	background: var(--primary-red);
	padding: 1.5rem 2rem;
	color: #fff;
	font-weight: 700;
}

.show {
	display: block;
}

.hide {
	display: none;
}
/* navbar */

.navbar .container-lg {
	background-image: linear-gradient(to left, var(--primary-red) 50%, white 50%);
	padding: 2rem 0rem;
	position: relative;
}

.navbar-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu-list {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

.navbar-menu-items a {
	color: #fff;
}

.navbar-menu-items a:hover {
	color: #fff;
	font-weight: 700;
}

.navbar .btn-dark {
	background: var(--bg-black);
}

.navbar .btn-dark:hover {
	background: #434356;
}

.mobile-menu {
	display: none;
}

.navbar .mobile-menu-items {
	position: absolute;
	top: 100%;
	right: 20px;
	width: 300px;
	background: var(--bg-black);
	padding: 1.5rem 2rem;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255 0.1);
	transform: translateX(140%);
	transition: transform 0.3s ease;
}

.navbar .mobile-menu-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 18px;
	line-height: 32px;
	font-weight: 300;
}

.navbar .mobile-menu-items.active {
	transform: translateX(0%);
}

/* hero */

.hero {
	background: url('/assets/desktop/image-hero.jpg') top right/contain no-repeat;
	width: 100%;
	min-height: 800px;
	display: flex;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	width: 48%;
}

.hero .btn {
	max-width: fit-content;
}

.hero .btn:hover {
	background: #ff9393;
}

.hero-mobile {
	display: none;
}

.hero h1 {
	min-width: 600px;
}

/* Design is strategic */

.design {
	display: flex;
	flex-direction: row-reverse;
	max-width: 1400px;
	margin: 0 auto;
}

.design .img-container {
	background: url('/assets/desktop/image-strategic.jpg') left center/cover
		no-repeat;
	min-height: 980px;
	width: 100%;
	position: relative;
}

.design .img-container .wave {
	position: absolute;
	top: 200px;
	right: -60px;
}

.design .content-container {
	background: var(--bg-black);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.design .content {
	margin: -14rem 10rem 0;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	text-wrap: pretty;
}

.design .content span {
	color: var(--primary-red);
}

.design .content h2 {
	max-width: 10ch;
}

.design .btn-secondary {
	color: var(--primary-red);
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-thickness: 3px;
}

.design .btn-secondary:hover {
	color: var(--hover-red);
}

/* media queries */

@media (max-width: 992px) {
	.navbar-menu-list {
		font-size: 15px;
		gap: 1rem;
	}

	.navbar .btn {
		padding: 1rem 1rem;
	}

	.hero {
		background: url('/assets/tablet/image-hero.jpg') center right/contain
			no-repeat;
		min-height: 800px;
	}

	.hero-content {
		gap: 2rem;
		text-align: left;
	}

	h1 {
		font-size: 56px;
		line-height: 56px;
		font-weight: 800;
	}

	.hero h1 {
		min-width: 400px;
	}

	p {
		font-size: 15px;
		line-height: 25px;
		text-wrap: balance;
	}

	.design .img-container {
		background: url('/assets/tablet/image-strategic.jpg') left center/cover;
		min-height: 658px;
	}

	.design .content {
		margin: -8rem 3rem 0 5rem;
	}

	h2 {
		font-size: 32px;
		line-height: 40px;
	}

	.design .img-container .wave {
		width: 100px;
		top: 110px;
		right: -40px;
	}

	@media (max-width: 767px) {
		.navbar .container-lg {
			background-image: none;
			background: #fff;
		}
		.navbar-menu-items {
			display: none;
		}

		.mobile-menu {
			display: block;
		}

		.hero-mobile {
			display: block;
			width: 100%;
		}

		.hero img {
			width: 100vw;
		}

		.hero {
			background: none;
			display: flex;
			flex-direction: column;
		}
		.hero-content {
			padding: 4rem 0;
			gap: 3rem;
		}

		.hero h1 {
			max-width: 400px;
		}

		.hero p {
			text-wrap: pretty;
			min-width: 400px;
			font-size: 16px;
			line-height: 1.6;
		}

		.design {
			flex-direction: column-reverse;
		}

		.design .img-container {
			background: url('/assets/mobile/image-strategic.jpg') left center/cover;
			min-height: 200px;
		}

		.design .img-container .wave {
			width: 50px;
			left: 20px;
			top: 185px;
		}

		.design .content {
			margin: 4rem 2rem;
			gap: 2rem;
		}

		.design .content h2 {
			max-width: 100%;
		}

		.design .content p {
			max-width: 80%;
		}
	}
}
