*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-red: #f94f4f;
	--bg-black: #191921;
	--hover-red: #ff9393;
}

html,
body {
	font-family: 'Commissioner', sans-serif;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

h1,
h2,
h3 {
	font-weight: 800;
}

h1 {
	line-height: 88px;
	font-size: 80px;
}

h2 {
	line-height: 64px;
	font-size: 56px;
}

h3 {
	line-height: 32px;
	font-size: 20px;
	font-weight: 700;
}

p {
	font-size: 18px;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: 0.025em;
}

/* utility classes */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

.container-lg {
	max-width: 1400px;
	margin: 0 auto;
}

.btn {
	background: var(--primary-red);
	padding: 1.5rem 2rem;
	color: #fff;
	font-weight: 700;
}

.show {
	display: block;
}

.hide {
	display: none;
}
/* navbar */

.navbar .container-lg {
	background-image: linear-gradient(to left, var(--primary-red) 50%, white 50%);
	padding: 2rem 0rem;
	position: relative;
}

.navbar-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu-list {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

.navbar-menu-items a {
	color: #fff;
}

.navbar-menu-items a:hover {
	color: #fff;
	font-weight: 700;
}

.navbar .btn-dark {
	background: var(--bg-black);
}

.navbar .btn-dark:hover {
	background: #434356;
}

.mobile-menu {
	display: none;
}

.navbar .mobile-menu-items {
	position: absolute;
	top: 100%;
	right: 20px;
	width: 300px;
	background: var(--bg-black);
	padding: 1.5rem 2rem;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255 0.1);
	transform: translateX(140%);
	transition: transform 0.3s ease;
}

.navbar .mobile-menu-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 18px;
	line-height: 32px;
	font-weight: 300;
}

.navbar .mobile-menu-items.active {
	transform: translateX(0%);
}

/* hero */

.hero {
	background: url('/assets/desktop/image-hero.jpg') top right/contain no-repeat;
	width: 100%;
	min-height: 800px;
	display: flex;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	width: 48%;
}

.hero .btn {
	max-width: fit-content;
}

.hero .btn:hover {
	background: #ff9393;
}

.hero-mobile {
	display: none;
}

.hero h1 {
	min-width: 600px;
}

/* Design is strategic */

.design {
	display: flex;
	flex-direction: row-reverse;
	max-width: 1400px;
	margin: 0 auto;
}

.design .img-container {
	background: url('/assets/desktop/image-strategic.jpg') left center/cover
		no-repeat;
	min-height: 980px;
	width: 100%;
	position: relative;
	z-index: -1;
}

.design .img-container .wave {
	position: absolute;
	top: 200px;
	right: -60px;
}

.design .content-container {
	background: var(--bg-black);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index: -1;
}

.design .content {
	margin: -14rem 10rem 0;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	text-wrap: pretty;
}

.design .content span {
	color: var(--primary-red);
}

.design .content h2 {
	max-width: 10ch;
}

.design .btn-secondary {
	color: var(--primary-red);
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-thickness: 3px;
}

.design .btn-secondary:hover {
	color: var(--hover-red);
}

/* Design Approach */

.approach {
	display: flex;
}

.approach .left-content {
	position: relative;
	width: 100%;
	padding: 5rem 3rem 5rem 2rem;
	margin-left: 5%;
}

.approach .left-content h2 {
	z-index: 1000;
	padding-top: 5rem;
	letter-spacing: 0.025em;
}

.approach .red-block-vertical {
	background-color: var(--primary-red);
	height: calc(100% + 180px);
	width: 35%;
	position: absolute;
	top: -180px;
	right: 0;
	z-index: -1;
}

.approach .right-content {
	background-color: var(--primary-red);
	width: 100%;
	position: relative;
	padding-bottom: 8rem;
	color: #fff;
}

.approach .right-content .list-items {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	margin: 2rem 4rem;
}

.approach .right-content .list-items .list-item {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.approach .right-content .list-items .list-item span {
	font-size: 80px;
	position: absolute;
	opacity: 0.3;
	top: -20px;
	left: -50px;
}

.approach .right-content p {
	max-width: 459px;
	text-wrap: pretty;
}
.approach .red-block-horizontal {
	background-color: var(--primary-red);
	width: 100%;
	position: absolute;
	left: 0;
	top: -180px;
	height: 180px;
	z-index: 10;
}

/* Slider */

.slider {
	display: flex;
	position: relative;
	flex-direction: row-reverse;
}

.slider .left-content {
	display: flex;
	padding-left: 4rem;
	padding-right: 5rem;
	background-color: var(--bg-black);
	color: #fff;
	top: 0;
	left: 0;
	right: 50%;
	height: 450px;
	width: 50%;
	position: absolute;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	gap: 2rem;
}

.slider .left-content .title-container {
	margin-left: 8%;
}

.slider .arrows {
	flex-direction: row;
	align-self: start;
	margin-left: -0.5rem;
	margin-top: 1rem;
}

.slider .arrows img {
	margin: 0.5rem;
	cursor: pointer;
}

.slider .arrows img:hover {
	filter: brightness(180%);
}

.slider .wave {
	position: absolute;
	top: 180px;
	right: -80px;
}

.slider .right-content {
	max-width: 65%;
}

.slider .captions-container {
	position: absolute;
	color: #fff;
	bottom: 3rem;
	right: 7%;
	text-align: right;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.4);
}

.slider .captions-container h3 {
	font-size: 20px;
}

.slider .captions-container p {
	font-size: 18px;
	font-weight: 200;
}

/* Footer */

.footer {
	margin: 5rem 0 2rem 0;
}

.footer .container-lg {
	position: relative;
}

.footer-waves {
	position: absolute;
	top: 20px;
	left: -10%;
	width: 134px;
	height: 60px;
	margin-left: -10%;
}
.footer-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .title-and-wave {
	display: flex;
	position: relative;
}

.footer h2 {
	max-width: 50%;
	min-width: 554px;
}

.footer .btn:hover {
	background: #ff9393;
}

/* media queries */

@media (max-width: 992px) {
	.navbar-menu-list {
		font-size: 15px;
		gap: 1rem;
	}

	.navbar .btn {
		padding: 1rem 1rem;
	}

	.hero {
		background: url('/assets/tablet/image-hero.jpg') center right/contain
			no-repeat;
		min-height: 800px;
	}

	.hero-content {
		gap: 2rem;
		text-align: left;
	}

	h1 {
		font-size: 56px;
		line-height: 56px;
		font-weight: 800;
	}

	.hero h1 {
		min-width: 400px;
	}

	p {
		font-size: 15px;
		line-height: 25px;
		text-wrap: balance;
	}

	.design .img-container {
		background: url('/assets/tablet/image-strategic.jpg') left center/cover;
		min-height: 658px;
	}

	.design .content {
		margin: -8rem 3rem 0 5rem;
	}

	h2 {
		font-size: 32px;
		line-height: 40px;
	}

	.design .img-container .wave {
		width: 100px;
		top: 110px;
		right: -40px;
	}

	.approach .left-content {
		padding: 2rem 2rem;
	}

	.approach .red-block-vertical {
		width: 20%;
		height: calc(100% + 100px);
		top: -100px;
	}

	.approach .left-content h2 {
		max-width: 350px;
	}

	.right-content .list-items {
		margin: 2rem 0rem;
	}

	.approach .red-block-horizontal {
		top: -100px;
		height: 100px;
	}

	.right-content .list-items .list-item span {
		font-size: 80px;
		position: absolute;
		opacity: 0.3;
		top: -10px;
		left: -15px;
	}

	.approach .right-content {
		padding-bottom: 80px;
	}

	.approach .right-content .list-items .list-item h3 {
		font-size: 15px;
	}

	.approach .right-content .list-items .list-item p {
		max-width: 420px;
		padding-right: 2rem;
	}

	.slider .left-content {
		height: 352px;
		padding: 2rem 4rem 2rem 2rem;
	}

	.slider .right-content {
		min-width: 58.5%;
		padding-bottom: 0;
	}

	.slider .right-content .slider-container img {
		width: 100%;
		vertical-align: bottom;
	}

	.slider .wave {
		width: 62px;
		top: 120px;
		right: -30px;
	}

	.slider .captions-container h3 {
		font-size: 15px;
		line-height: 1;
	}

	.slider .captions-container p {
		font-size: 15px;
		font-weight: 200;
	}

	.footer-waves {
		display: none;
	}

	.footer h2 {
		max-width: 50%;
		min-width: 0;
		margin-left: 0;
	}

	@media (max-width: 735px) {
		.navbar .container-lg {
			background-image: none;
			background: #fff;
		}
		.navbar-menu-items {
			display: none;
		}
		.container {
			padding: 1rem;
		}

		.mobile-menu {
			display: block;
		}

		.hero {
			min-height: 600px;
		}

		.hero-mobile {
			display: block;
			width: 100%;
		}

		.hero img {
			width: 100vw;
		}

		.hero {
			background: none;
			display: flex;
			flex-direction: column;
		}
		.hero-content {
			padding: 3rem 0;
			gap: 2rem;
			width: 100%;
			margin-bottom: 3rem;
		}
		.hero .btn {
			padding: 1rem 1.5rem;
		}

		.hero h1 {
			font-size: 40px;
			min-width: 300px;
			line-height: 40px;
		}

		.hero p {
			text-wrap: pretty;
			min-width: 300px;
			font-size: 16px;
			line-height: 1.6;
		}

		.design {
			flex-direction: column-reverse;
		}

		.design .img-container {
			background: url('/assets/mobile/image-strategic.jpg') left center/cover;
			min-height: 250px;
		}

		.design .img-container .wave {
			width: 50px;
			left: 20px;
			top: 235px;
		}

		.design .content {
			margin: 4rem 2rem;
			gap: 2rem;
			padding-bottom: 2rem;
		}

		.design .content h2 {
			max-width: 100%;
		}

		.design .content p {
			max-width: 90%;
		}

		.approach .red-block-horizontal,
		.approach .red-block-vertical {
			display: none;
		}

		.approach {
			flex-direction: column;
			background-color: var(--primary-red);
			color: #fff;
		}

		.approach .left-content {
			padding: 0;
			width: 100%;
		}

		.approach .left-content h2 {
			margin: 2rem 0 0 0;
			padding: 5rem 1.5rem 3rem 1.5rem;
			max-width: 400px;
		}

		.approach .right-content {
			padding-left: 2rem;
		}

		.approach .right-content .list-items {
			margin: 2rem 2rem;
		}

		.approach .right-content .list-items .list-item p {
			max-width: 100%;
			padding-right: 1rem;
		}

		.slider {
			flex-direction: column-reverse;
		}
		.slider .left-content {
			position: unset;
			width: 100%;
			height: 272px;
			padding-left: 1rem;
			letter-spacing: 0.1em;
			text-align: left;
		}

		.slider .left-content h2 {
			text-align: left;
			max-width: 70%;
		}

		.slider .right-content {
			min-width: 100%;
			max-height: 404px;
		}

		.slider .right-content .slider-container img {
			max-height: 404px;
		}

		.slider .wave {
			display: none;
		}

		.slider .captions-container {
			bottom: 18rem;
			right: 1.5rem;
			background-color: rgba(0, 0, 0, 0);
		}

		.footer-flex {
			flex-direction: column;
			align-items: start;
			gap: 2rem;
		}

		.footer h2 {
			max-width: 100%;
		}

		.footer .container {
			margin: 0;
			padding: 1rem;
		}

		.footer .btn {
			padding: 1rem 1 5rem;
		}
	}
}
